{% extends "base.html" %}{% load static from staticfiles %}

{% block content %}
    <h2>{{empresa.nombre}} - Total Facturas: {{total_facturas}}</h2>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Subtotal</th>
              <th scope="col">Impuestos</th>
              <th scope="col">Total</th>
              <th scope="col">Estado</th>
              <th scope="col">Forma de Pago</th>
            </tr>
        </thead>
        <tbody>
            {% for f in facturas %}
                <tr>
                    <td>{{f.id}}</td>
                    <td>{{f.sub_total}}</td>
                    <td>{{f.total_impuestos}}</td>
                    <td>{{f.total}}</td>
                    <td>{{f.estado}}</td>
                    <td>{{f.forma_pago.nombre}}</td>
            {% empty %}
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock%}